#header {
    text-align: center;
}

#minimal-nav-text {
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (max-width: 767px) {
    .home-login, #home-nav-page {
        text-align: center;
        width: 98%;
      margin:auto;
      display:block;
    }
}
@media (min-width: 768px) {
    .home-login, #home-nav-page {
        text-align: center;
        width: 50%;
      margin:auto;
      display:block;
    }
}

.home-login tr {
    margin: 5px;
}

#body {
    margin: 20px;
    margin-top: 70px;
}

#oneTable {
    width: 100%;
}

#oneTable td {
    text-align: center;
}